:root {
  /* --bg-color: #ffffff;  /* Cor de fundo padrão (branca) */
  --bg-color: #ebebeb; /* Gelo */
  /* --bg-color: #cccccc;  /* Cinza */
  /* --bg-color: #cde4fa;  /* Azul */
  /* --bg-color: #ffeedb;  /* Laranja */
  /* --bg-color: #fff9d6;  /* Amarelo */
  /* --bg-color: #d8f0db;  /* Verde */
}

body {
  background-color: var(--bg-color);
  font-family: Arial, sans-serif; /* Adicionando uma fonte padrão */
  margin: 0;
  padding: 20px;
}
