<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minha Aplicação</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Bem-vindo à Pesquisa!</h1>
    <p>Por favor, escolha uma das opções abaixo:</p>
    <button onclick="location.href='/new_user'">Usuário Novo</button>
    <button onclick="location.href='/login'">Login</button>
</body>
</html>
